<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
<!--      <tr><td>9:00</td><td><a href="https://bucanl.github.io/SDC-EEGLAB/01-intro_EEGLAB/index.html">Introduction to EEGLAB</a></td></tr> -->
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/02-intro_Matlab/index.html">Matlab: need to knows</a></td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/03-data_structures/index.html">EEG structure elements</a></td></tr>
      <tr><td></td><td>Break</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/04-processing/index.html">Basic ERP processing</a></td></tr> 
      <tr><td></td><td>Lunch</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/05-scripting/index.html">Scripting from the history</a></td></tr>
      <tr><td></td><td>Break</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/06-study/index.html">STUDY structure analysis</a></td></tr>
<!--      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/07-intro_ICA/index.html">Introduction to ICA</a></td></tr> -->
<!--      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/08-ICA_artifact/index.html">ICA artifact isolation</a></td></tr> -->
<!--      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/09-ICA_analysis/index.html">ICA hypothesis testing</a></td></tr> -->
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
<!--      <tr><td>9:00</td><td><a href="https://bucanl.github.io/SDC-BIDS/">Introduction to BIDS</a></td></tr> -->
<!--      <tr><td>9:15</td><td><a href="https://bucanl.github.io/SDC-BIDS-EEG/">BIDS-EEG specification</a></td></tr> -->
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/08-ICA_artifact/index.html">ICA artifact isolation</a></td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-EEGLAB/09-ICA_analysis/index.html">ICA hypothesis testing</a></td></tr>
      <tr><td></td><td>Break</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-BATCH-CONTEXT/">Batch processing: batch_context extension</a></td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-LOSSLESS/04-segmentation/index.html">Lossless post-processing scripts</a></td></tr>
      <tr><td></td><td>Lunch</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-LOSSLESS/02-lossless/index.html">The lossless pipeline described</a></td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-LOSSLESS/03-submit/index.html">Prepare and run the Lossless pipeline</a></td></tr>
      <tr><td></td><td>Break</td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-VISED-MARKS/">Interactive annotations: vised_marks extension</a></td></tr>
      <tr><td></td><td><a href="https://bucanl.github.io/SDC-LOSSLESS-QC/">Lossless Quality Control (QC)</a></td></tr>
    </table>
  </div>
</div>



